.IntervieweeInfo {
  display: flex;
  @media screen and (max-width: 1000px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .project-box {
    width: 10rem;
    float: left;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 1000px) {
      margin-bottom: 1.5rem;
    }
  }
  .interviewee-content {
    float: right;
  }
}
