.IntervieweeInfo {
  display: flex;
  .project-box {
    width: 10rem;
    float: left;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .interviewee-content {
    float: right;
  }
}
