@import "./colors";

.App {
  .sidebar {
    width: 13%;
    height: 100vh;
    background: $primary;
    position: fixed;
    z-index: 11;
    transform-origin: left;
    @media screen and (max-width: 1000px) {
      transition: all 0.4s ease-in-out;
      transform: translateX(-100%);
      width: 20%;
    }
  }
  .nav-toggle {
    @media screen and (max-width: 1000px) {
      transition: all 0.4s ease-in-out;
      transform: translateX(0);
    }
  }

  .main-content {
    width: 87%;
    background: #fffeff;
    margin-left: 13%;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    padding: 5rem;
    @media screen and (max-width: 700px) {
      padding: 3rem;
    }
    @media screen and (max-width: 500px) {
      padding: 2rem;
    }
    .content {
      width: 100%;
      position: relative;
    }
    @media screen and (max-width: 1000px) {
      margin-left: 0;
      width: 100%;
    }
  }
}

.nav-btn {
  position: absolute;
  z-index: 10;
  right: 0;
  top: -1rem;
  width: 4rem;
  height: 4rem;
  display: none;
  cursor: pointer;
  @media screen and (max-width: 1000px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  @media screen and (max-width: 480px) {
    width: 3rem;
  }
  .lines-1,
  .lines-2,
  .lines-3 {
    height: 0.4rem;
    width: 3.5rem;
    background-color: $primary;
    pointer-events: none;
    display: none;
    border-radius: 20px;
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
    @media screen and (max-width: 1000px) {
      display: block;
    }
    @media screen and (max-width: 480px) {
      display: block;
      width: 3rem;
    }
  }
}

.my-picture {
  width: 15rem;
  border-radius: 5px;
}
