.StoryboardRow {
  display: flex;
  align-items: center;
  justify-content: center;
  .scenario {
    max-width: 65%;
    margin-right: 3rem;
  }
}

.PersonaRow {
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    max-width: 30%;
    margin-right: 3rem;
  }
}

.LofiRow {
  display: flex;
  margin-top: 1.75rem;
  iframe {
    margin-right: 2rem;
    border-top: 1px solid #c3c3c3;
    border-bottom: 1.5px solid #c3c3c3;
  }
}

.HifiRow {
  display: flex;
  margin-top: 1.75rem;
  .hifi-content {
    margin-left: 2rem;
    width: 74%;
  }
}
