.StoryboardRow {
  display: flex;
  align-items: center;
  justify-content: center;
  .scenario {
    max-width: 65%;
    margin-right: 3rem;
  }
}

.PersonaRow {
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    max-width: 30%;
    margin-right: 3rem;
  }
}
