.StoryImage {
  margin: 1.5rem auto;
  @media screen and (max-width: 1000px) {
    width: 80% !important;
  }
  @media screen and (max-width: 700px) {
    width: 100% !important;
  }
  img {
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
  }
}
