@import "./styles/layout";
@import "./styles/navbar";
@import "./styles/home";
@import "./styles/title";
@import "./styles/section";
@import "./styles/nextbutton";
@import "./styles/storyimage";
@import "./styles/row";
@import "./styles/card";
@import "./styles/intervieweeinfo";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  b {
    color: darken($primary, 30);
  }
  ol {
    counter-reset: item;
  }
  ol li {
    display: block;
  }
  ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
    font-weight: 700;
    color: darken($primary, 35);
  }
}

.nav-link.active {
  color: white !important;
  background-color: $primary !important;
}

.nav-link {
  color: $primary !important;
}

.tab-content {
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0px 0px 10px 10px;
  padding: 1.5rem;
}

.my-picture {
  width: 15rem;
  border-radius: 5px;
}

body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 50px;
}
body::-webkit-scrollbar-track {
  background-color: #bdbdbd;
}

body {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
}
span {
  color: $primary;
}
